name: Artifact Deployment (VM to AWS)

on:
  push:
    branches: [main]

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  PROD_KEY_MASTER_SERVER: ${{ secrets.PROD_KEY_MASTER_SERVER}}

jobs:
  # 개발서버
  build:
    runs-on: [self-hosted]

    steps:
      - name: 폴더 정리
        run: rm -rf ./*

      - name: 소스 복사
        uses: actions/checkout@v6.0.1

        # 자바가 설치되어 있다면 필요없지만 유지해도 됨
      - name: Setup JDK17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      - name: gradlew 실행권한 설정
        run: chmod +x gradlew

      - name: gradle
        run: ./gradlew --info test

      - name: Springboot 실행 파일 생성
        run: ./gradlew bootJar

      - name: 도커 이미지 생성
        run: docker build -t ${{env.DOCKER_USERNAME}}/devops_step2:v1.0 .

      - name: 도커 로그인
        uses: docker/login-action@v1
        with:
          username: ${{env.DOCKER_USERNAME}}
          password: ${{env.DOCKER_PASSWORD}}

      - name: docker image 허브에 저장
        run: docker push ${{env.DOCKER_USERNAME}}/devops_step2:v1.0

        # 아티팩트 사용
      - name: 파일 업로드
        uses: actions/upload-artifact@v4
        with:
          name: deploy-configs
          path: |
            docker-compose_nginx.yml
            nginx/nginx.conf

  # 운영서버
  deploy:
    name: Deploy to AWS EC2
    runs-on: [self-hosted]
    needs: build
    steps:
      - name: 워크스페이스 정리
        run: rm -rf ./*

      - name: 아티팩트 다운로드
        uses: actions/download-artifact@v4
        with:
          name: deploy-configs
          path: .

      - name: AWS 운영 서버로 파일 복사(SCP)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_PRIVATE_KEY }}
          source: "docker-compose_nginx.yml,nginx/nginx.conf"
          target: "~/kosa-deploy"
          strip_components: 0

      - name: 운영 서버에서 배포 실행 (SSH)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_PRIVATE_KEY }}
          script: |
            # 운영 서버에 폴더가 없을 수도 있으니 생성 명령 추가 (안전장치)
            mkdir -p ~/kosa-deploy
            cd ~/kosa-deploy
            echo "${{ env.DOCKER_PASSWORD }}" | docker login -u ${{ env.DOCKER_USERNAME }} --password-stdin
            docker pull ${{ env.DOCKER_USERNAME }}/devops_step2:v1.0
            # 파일이 전송되었는지 확인하기 위해 ls 출력 추가 (로그 확인용)
            ls -R
            docker compose -f docker-compose_nginx.yml up -d --force-recreate
            docker image prune -f
